<!DOCTYPE html>
<!-- this is an administration page
authors: Emily -->
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <!-- meta tag used to help css respond to mobile screens better -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin</title>
    </head>

    <body>
      <!--this page will have:
       a navigation bar at the top
       a section for the websites administration and a section with statistics about the website.
      -->
      
      <%- include('includes/nav.ejs'); %>
      <div style="width: 10%; float: left">
        <%- include('includes/navadmin.ejs'); %>
      </div>
      <div class="row" style="float: right; width: 90%">
         <div class="column">
              <p>Site statistics below:</p><br>
              Uploads:  <%=  basicstats[0][0].C %><br>
              Users:    <%=  basicstats[1][0].C %><br>
              Groups:   <%=  basicstats[2][0].C %><br>
              Comments: <%=  basicstats[3][0].C %><br>
         </div>
      </div>

    </body>

</html>
