<!DOCTYPE html>
<!-- this is the reports page -->
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <!-- meta tag used to help css respond to mobile screens better -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin</title>
    </head>

    <body>   
      <%- include('includes/nav.ejs'); %>
      <div style="width: 10%; float: left">
        <%- include('includes/navadmin.ejs'); %>
      </div>
        <main>
            <center>
                <% reports.forEach(function(c) { %>
                    <div class="report">
                        Reported by: <%= c.rid %> <br>
                        <div class="comment">
                            <h2><%= c.name %> </h2><br><br>
                            <p><%= c.commentContent %></p>
                          </div>
                          Short Reason: <%= c.reason %> <br><br>
                          Long Reason:<br>
                          <%= c.adInfo %> 
                          <form>
                              <center>
                                  <input type="submit" value="Reject" class="inputbutton" style="background-color: rgb(200, 0, 0);width: 45%">
                                  <input type="submit" value="Accept" class="inputbutton" style="background-color: rgb(0, 200, 0);width: 45%">
                                </center>
                          </form>
                          
                    </div><br><br>
                <% }); %>
            </center>
        </main>
    </body>
</html>

    