<html>
    <!-- This page contains all of a groups uploads (that are public) -->

    <head>
        <link rel="stylesheet" href="/style.css">
        <!-- meta tag used to help css respond to mobile screens better  -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Group</title>
    </head>
    <%- include('includes/nav.ejs'); %>
    <body>
        <main>
            <br><form action="/group/<%= gid %>/fav" method="post">
                <img src="/static/<%= favstar %>" style="width:64px; height:64px"><br>
                <input type="submit" value="<%= fav %>">
            </form>
            <% if (group.length == 0) { %>
                <br><h1>This group is currently empty!</h1><br>
            <% } %>
            <div class="grid-container">
                <% group.forEach(function(u) { %>
                    <div class="grid-item"><br>
                    <a href="/image/<%= u.uploadID %>" style="color: black; text-decoration: none;">        
                            <figure class="upload_thumb">
                                <img src="/uploads/<%= u.fName %>" style="width:50%;height:50%;" class="group_image"><br>
                                <figcaption class="upload_caption"
                                    <p><%= u.caption %></p></figcaption>
                            </figure>
                            </div></a>
                <% }); %>
            </div><br>
        </main>
    </body>
    </main>
</html>
