<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <!-- meta tag used to help css respond to mobile screens better  -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upload</title>
        <script>
            var previousSelected = null;

            function selectUser(e) {
                if (previousSelected != null) {
                    previousSelected.className = "useroption";
                }

                e.className = "useroption_selected";
                var au = document.getElementById("au");
                au.value = e.id;

                previousSelected = e;
            }
        </script>
    </head>

    <body>
        <%- include("includes/nav.ejs"); %>
        <main>
            <div id="leftoptions" style="float:left">
                <img src="/uploads/<%= group.groupAvatar %>" style="width:50px;height:50px;">
                <h1 style="float:right"><%= group.groupName %>  </h1><br>
                <input type="button" value="Save Group" class="inputbutton">
                <input type="button" value="Delete Group" class="inputbutton"><br>
            </div>

            <div style="float:left">
                <h2>Users</h2><br>
                <table>
                    <tbody>
                        <% users.forEach(function(user) { %>
                            <div onclick="selectUser(this)" class="useroption" id="<%= user.userID %>">
                            <p style="float:left"><%= user.name %> </p>
                            <p style="float:right"><%= user.mappedRank %> </p><br>
                            </div>
                        <% }); %>
                    </tbody>
                </table>
            </div>

            <div id="rightoptions" style="float:right">
                <input type="button" value="Invite User" class="inputbutton"><br>
                <input type="button" value="Remove User" class="inputbutton"><br>
                <input type="button" value="Promote User" class="inputbutton">
                <input type="text" name="affecteduser" id="au" style="display:none">
            </div>

            <div id="inviteuser" style="position: absolute">
                
            </div>
        </main>
    </body>
</html>