<html>
    <!-- This page contains all registered groups (that are public) -->

    <head>
        <link rel="stylesheet" href="style.css">
        <!-- meta tag used to help css respond to mobile screens better  -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Groups</title>
          <link rel="icon" href="/static/waveybook_icon.png">
    </head>
    <%- include('includes/nav.ejs'); %>
    <body>
        <main>
            <center>
            <% groups.forEach(function(g) { %>
                <a href="/group/<%= g.groupID %>" style="color: black; text-decoration: none;">
                    <div class="<%= g.favourite == 'y' ? "group gold" : "group" %> ">
                        <h2 class="group_text"><%= g.groupName %></h2>
                        <img src="/uploads/<%= g.groupAvatar %>" class="group_image">
                        <p class="group_text"><%= g.groupDesc %></p>
                    </div></a><br>
            <% }); %>
            </center>
        </main>
    </body>
</html>
