<!DOCTYPE html>
<!-- this is a login page
authors: Fraser, Leah -->
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <!-- meta tag used to help css respond to mobile screens better  -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Scrapbook</title>
    </head>

    <body>
      <!--this page will have:
       a navigation bar at the top
       Image along with any captions, followed by author, license, etc
      -->
      <%- include('includes/nav.ejs'); %>
        <main>
          <center>

            </br>
            </br>
            </br>
            <%- include('includes/alert.ejs'); %>
            
            <h1><%= caption %></h1><br>
            <img src="/uploads/<%= fName %>" style="width:300px; height:300px"><br>
            <% if (username != undefined) { %>
            <form action="/image/<%= uploadID %>/addtogroup" method="post">
              <select name="selectedgroup">
                <option value="none">No group</option>
                <% groups.forEach(function(g) { %>
                  <option value="<%= g.groupID %>"><%= g.groupName %></option>
                <% }); %>
              </select>
              <input type="submit" value="Add"><br><br>
            </form>
            <% } %>
            <p>Poster: <%= poster %></p><br>
            <p>License: <%= license %></p><br><br>
            <h2>Comments</h2><br>
            <% if (username) { %>
              <form action="/image/<%= uploadID %>/comment" method="post">
                <!-- TODO: Perhaps replace this with a textfield? -->
                <input type="text" name="comment"><br>
                <input type="submit" value="Post">
                <!-- TODO: image report -->
              </form><br>
            <% } %>
            <% comments.forEach(function(c) { %>
              <div class="comment">
                <!-- TODO: Get comment reports working (stage 3?) (Also change report link to button when done) -->

                <!--<input type="submit" value="Report" style="float:right" disabled><br> -->
                <a href="/report/<%= c.commentID %>" style="float:right">Report</a>
                <h2><%= c.name %></h2><br><br>
                <p><%= c.content %></p>
              </div><br>
            <% }); %>
            </center>
        </main>
    </body>


</html>
